
.container_nav{
    background-color: #808080;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-around;
    color:aliceblue;
    text-transform:capitalize;
    
}
.imgLogo{
width: 30%;
height: 30%;
}
.color{
    text-decoration: none;
    color:aliceblue;
}

