.fcontenido{
    border: 2px solid black;
    border-radius: 20px;
    margin: 2px;
    color:rgb(99, 91, 91);
}
.tpcard{
    text-decoration: none;
}
img{
    width: 40%;
    height: 40%;
}
h3{
    text-transform: capitalize;
}